
@model AccountibiliBuddy.Models.ViewModels.ProgressViewModel


@{
    ViewData["ChooseDate"] = "ChooseDate";
}

<h1>Choose A Date</h1>

<div class="form-group">
    <form asp-action="ChooseDate">
        <input type="date" name="DateSearch" value="@ViewData["UserDateInput"]" class="form-control" />
        <br />
        <input type="submit" value="Search" class="btn btn-primary" asp-controller="Goals" asp-action="ChooseDate" />
    </form>
</div>

@if (Model.Goals.Count() < 1 && Model.Date == new DateTime(1, 1, 0001))
{

}
else if (Model.Goals.Count() < 1)
{
    <h1>No Goals For This Date</h1>
    <p>
        <a asp-action="Create">Create Some Goals</a>
    </p>
}
else if (Model.Goals.Count() >= 1)
{


    <div class="card-group">

        <div class="card-columns">

            @foreach (AccountibiliBuddy.Models.Goal item in Model.Goals)
            {

                @if (item.Date.Date < DateTime.Now.Date)
                {
                    <div class="card border-info mb-3" style="max-width: 18rem;">
                        <div class="card-title border-info">
                            <div class="card-header border-info">@item.Date.Month/@item.Date.Day/@item.Date.Year</div>
                            <div class="card-body text-dark">
                                <h5 class="card-title">@item.Name</h5>

                                @if (item.CompletionStatus == true)
                                {
                                    <div>
                                        @Html.DisplayFor(modelItem => item.CompletionStatus)
                                    </div>
                                }
                                else if (item.CompletionStatus == false)
                                {
                                    <ul>
                                        <li>Not Completed</li>
                                    </ul>
                                }



                            </div>
                        </div>
                    </div>
                }
                else
                {
        <div class="card border-info mb-3" style="max-width: 18rem;">
            <div class="card-title border-info">
                <div class="card-header border-info">@item.Date.Month/@item.Date.Day/@item.Date.Year</div>
                <div class="card-body text-dark">
                    <h5 class="card-title">@item.Name</h5>
                    @if (item.CompletionStatus == false)
                    {
                        <div id="complete">
                            <button id="@item.GoalId" class="btn btn-primary">Complete?</button>
                        </div>
                    }
                    else
                    {
                        <div>
                            @Html.DisplayFor(modelItem => item.CompletionStatus)
                        </div>
                    }
                    <a asp-action="Edit" asp-route-id="@item.GoalId">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.GoalId">Delete</a>
                </div>
            </div>
        </div>
                        }
                        }
                    </div>
                </div>

    <h6>Progress</h6>

    @if (Model.DailyProgressCounter == 100)
    {
        <div class="progress">
            <div class="progress-bar  bg-success  " role="progressbar"
                 aria-valuenow="@Model.DailyProgressCounter" aria-valuemin="0" aria-valuemax="100" style="width: @Model.DailyProgressPercent ">
                @Model.DailyProgressPercent
            </div>
        </div>
    }
    else if (Model.DailyProgressCounter >= 95 && Model.DailyProgressCounter <= 99)
    {
        <div class="progress">
            <div class="progress-bar  bg-success progress-bar-striped progress-bar-animated " role="progressbar"
                 aria-valuenow="@Model.DailyProgressCounter" aria-valuemin="0" aria-valuemax="100" style="width: @Model.DailyProgressPercent ">
                @Model.DailyProgressPercent
            </div>
        </div>
    }
    else if (Model.DailyProgressCounter <= 94 && Model.DailyProgressCounter >= 80)
    {
        <div class="progress">
            <div class="progress-bar  bg-info progress-bar-striped progress-bar-animated" role="progressbar"
                 aria-valuenow="@Model.DailyProgressCounter" aria-valuemin="0" aria-valuemax="100" style="width: @Model.DailyProgressPercent ">
                @Model.DailyProgressPercent
            </div>
        </div>
    }
    else if (Model.DailyProgressCounter <= 79 && Model.DailyProgressCounter >= 65)
    {
        <div class="progress">
            <div class="progress-bar  bg-warning progress-bar-striped progress-bar-animated" role="progressbar"
                 aria-valuenow="@Model.DailyProgressCounter" aria-valuemin="0" aria-valuemax="100" style="width: @Model.DailyProgressPercent ">
                @Model.DailyProgressPercent
            </div>
        </div>
    }
    else
    {
        <div class="progress">
            <div class="progress-bar  bg-danger progress-bar-striped progress-bar-animated" role="progressbar"
                 aria-valuenow="@Model.DailyProgressCounter" aria-valuemin="0" aria-valuemax="100" style="width: @Model.DailyProgressPercent ">
                @Model.DailyProgressPercent
            </div>
        </div>
    }
}




