@model AccountibiliBuddy.Models.ViewModels.ProgressViewModel

@{
    ViewData["Title"] = "Index";
}



<h1>Goals For Today</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Goal
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Goal.Date)
            </th>
            <th>
                Completion Status
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (AccountibiliBuddy.Models.Goal item in Model.Goals)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                @if (item.CompletionStatus == false)
                {
                    <td id="complete">
                        <button id="@item.GoalId" class="btn btn-primary">Complete?</button>
                    </td>
                }
                else
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.CompletionStatus)
                    </td>
                }



                <td>
                    <a asp-action="Edit" asp-route-id="@item.GoalId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.GoalId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.GoalId">Delete</a>
                </td>
            </tr>
        }

    </tbody>
</table>


<h6>Progress</h6>

            
<div class="progress">
    <div class="progress-bar progress-bar-info progress-bar-striped progress-bar-animated" role="progressbar"
         aria-valuenow="@Model.ProgressCounter" aria-valuemin="0" aria-valuemax="100" style="width: @Model.ProgressPercent ">
        @Model.ProgressPercent
    </div>
</div>